#myPaintCanvas{
    cursor: crosshair;
    border:1px solid black;
    position:absolute;
}

#canvas-parent{
position:relative;
overflow:hidden;
width:90%;
width:75%;
}
.flex-class{
display: flex;
justify-content: center;
align-items: center;
}


.marg-pad{
    padding: 0.5%;
    margin: 1%;
}

